# INFO Source code #
####################
*.htm text filter=tabspace eol=lf
*.HTM text filter=tabspace eol=lf
*.html text filter=tabspace eol=lf
*.HTML text filter=tabspace eol=lf
*.php text filter=tabspace eol=lf
*.PHP text filter=tabspace eol=lf
*.css text filter=tabspace eol=lf
*.CSS text filter=tabspace eol=lf
*.js text filter=tabspace eol=lf
*.JS text filter=tabspace eol=lf
*.json text filter=tabspace eol=lf
*.JSON text filter=tabspace eol=lf
# NOTE Shell scripts always need Unix style line feeds
*.sh text filter=tabspace eol=lf
*.SH text filter=tabspace eol=lf

# INFO Documents #
##################
*.doc binary diff=astextplain
*.DOC binary diff=astextplain
*.docx binary diff=astextplain
*.DOCX binary diff=astextplain
*.dot binary diff=astextplain
*.DOT binary diff=astextplain
*.pdf binary diff=astextplain
*.PDF binary diff=astextplain
*.rtf binary diff=astextplain
*.RTF binary diff=astextplain
*.odt binary diff=odf
*.ODT binary diff=odf
*.ods binary diff=odf
*.ODS binary diff=odf
*.odp binary diff=odf
*.ODP binary diff=odf

# INFO Graphics #
#################
*.png binary
*.PNG binary
*.jpg binary
*.JPG binary
*.jpeg binary
*.JPEG binary
*.gif binary
*.GIF binary
*.ico binary
*.ICO binary
*.svg text filter=tabspace eol=lf
*.SVG text filter=tabspace eol=lf
*.svgz binary
*.SVGZ binary

# INFO Fonts #
##############
*.ttf binary
*.TTF binary
*.otf binary
*.OTF binary
*.eot binary
*.EOT binary
*.woff binary
*.WOFF binary

# INFO Zip file #
#################
.gitattributes export-ignore
.gitignore export-ignore
.editorconfig export-ignore
patches.md export-ignore
changelog.md export-ignore
package.json export-ignore
package-lock.json export-ignore
gulpfile.js export-ignore
*.scss export-ignore
