// FONT
$remInit: 10px;
$baseFontSize: 1.6rem;

// COLOR
$mainColor: white ;

$lightJade: #C1DB9E;
$jade: #B4CC93;
$storm: #1A191E;
$alert: #DE7575;

// SHADOW
$boxShadowH1:0px 0px 7px rgba(0,0,0,0.35);
$boxShadowHeader:0px 11px 18px -8px rgba(0,0,0,0.1);

$mainFont: 'Open Sans', Helvetica, sans-serif;
 